{% extends 'base.html' %}
 {% block content %}
  <main id="content" class="content" role="main">
     {% for article in article_list %}
        <article class="post">
            <header class="post-header">
                <h2 class="post-title"><a href="#">{{ article.title }}</a></h2>
            </header>
            <section class="post-excerpt">
            {{ article.abstract }}
            <a class="read-more" href="#">  ... 阅读全文 »</a>
            </section>
            <footer class="post-meta">
                嘹亮的小号
                <time class="post-date">
                    {{ article.last_modified_time }}
                </time>
            </footer>
        </article>
       {% endfor %}
      <nav class="pagination" role="pagination">
      <span class="page-number"> Page 1 of 3 </span>
          <a rel="next" class="older-posts" href="#" title="Next Page">下一页 »</a>
  </nav>
  </main>
 {% endblock %}
