{% extends 'base.html' %}
 {% block content %}
  <main id="content" class="content" role="main">
    {% load pagination_tags %}
    {% paginate article_list 2 %}
     {% for article in article_list %}
        <article class="post">
            <header class="post-header">
                <h2 class="post-title"><a href="{% url 'blog:detail' article.pk %}">{{ article.title }}</a></h2>
            </header>
            <section class="post-excerpt">
            {{ article.abstract }}
            <a class="read-more" href="{% url 'blog:detail' article.pk %}">  ... 阅读全文 »</a>
            </section>
            <footer class="post-meta">
                {{ article.author }}
                <time class="post-date">
                    {{ article.last_modified_time }}
                </time>
                <li><a href="{% url 'blog:category' article.category.pk %}">#{{ article.category.name }}</a></li>
            </footer>
        </article>
       {% endfor %}
    {% include 'blog/pagination.html' %}
  </main>
 {% endblock %}
